.product-cart {
  img {
    width: 100px;
    height: 100px;
  }
}

.category-table {
  table,
  th,
  td {
    margin-left: 10px;
    border: 1px solid black;
  }

  tbody {
    border: 1px solid black;
  }
  a {
    text-decoration: none;
    color: rgb(153, 8, 8);
  }

  tr:nth-child(odd) {
    background: rgb(127, 128, 214);
  }

  tr:nth-child(even) {
    background: yellow;
  }
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
  }

  .product-cart {
    a {
      text-decoration: none;
      width: 500px;

      display: flex;
      align-items: center;

      padding-top: 50px;
    }

    .thumbnail {
      padding-right: 50px;
    }

    .title {
      color: rgb(102, 82, 82);
      padding-right: 50px;
      // padding-left: 50px;
      font-size: large;
      font-weight: bold;
    }

    .price {
      color: rgb(7, 7, 7);
      font-weight: bolder;
      font-size: x-large;

    }
  }
}
