* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
}
/*=======================================*/

.wrapper {
  min-height: 100%;
  overflow: hidden; /*  для не зявляння горизонтального скролу */
  display: flex;
  flex-direction: column; /* притискати футер до низу сторінки */
}

/*=======================================*/
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;
}

.title_center {
  text-align: center;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}
/*=======================================*/
.page {
  flex: 1 1 auto; /* дозволили мейну розшираватися.  wrapper флекс контейнер,все інше page флекс елементи, коли контенту мало то футер все одно знизу */
}
/*=======================================*/

/*селектор. застосовується на всі класи */
[class*="__container"] {
  max-width: 1170px; /* розмір обмежуючого контейнеру   1170 +15+15 =1200 */
  margin: 0 auto; /* виставляємо по центру */
  /* padding: 0px 15px відступи безпеки таким чином збільшуємо контейнер з 1170 до 1200  але контент на 1170 залишиться */
}

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0px 15px;
  }
}
/*=======================================*/
.header {
  position: absolute; /*  зробили її абсолютною . вона стратила своє тіло і все йде зверху */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 15px;
  min-height: 103px; /*  по макету робимо висоту */
  align-items: center;
  padding-top: 10px; /*щоб контент не прилип до країв. не гарно */
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-weight: 800;
  font-size: 23px;
  color: inherit; /*   приймає загальний колір шрифта */
}
.header__menu {
}
/*=======================================*/
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap; /*  можливість ламатися. нижні 2 додаються відступи + добре коли добавить пункти до списку, додає надійності */
  column-gap: 46px;
  row-gap: 15px;
}
.menu__item {
}
.menu__link {
  font-size: 13px;
  font-weight: 700;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}
/*=======================================*/

.page__main {
  padding-bottom: 110px;
}
/* 
.main-block {
  padding-bottom: 110px;
} */

.main-block__container {
  padding-top: 183px;
  position: relative;
}
.main-block__container::after {
  background-color: #bdccff;
  content: "";
  position: absolute;
  width: 200%;
  top: 0;
  left: 68%;
  height: 100%;
}

.main-block__body {
  margin-bottom: 14px;
}

.body-main-block {
  display: flex;
  position: relative;
  align-items: flex-start; /*  пропало для підхід IBG*/
}

.body-main-block__content {
  flex: 0 1 50%;
}

.content-main-block {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

.content-main-block__body {
  padding-right: 80px; /* добавив коли треба було зробити відступи тільки по тестовим блокам */
}

.content-main-block__sub-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px; /* треба робити відносний до розміру шрифту  */
  color: #ff9900;
  text-transform: uppercase;
  margin-bottom: 20px; /* треба задавати тільки якщо обєкт не останній */
}
.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  line-height: 73px;
}
.content-main-block__text {
  font-weight: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
}
.content-main-block__form {
}

.form-main-block {
  display: flex;
  position: relative;
  z-index: 2;
  margin-right: -188px;
  background: #fff url("img/main/home.svg") 33px 32px no-repeat;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03);
}
.form-main-block__input {
  height: 86px;
  border: 1px solid #dadada;
  padding: 0px 0px 0px 74px;
  background-color: transparent;
  width: 100%;
  flex: 1 1 auto;
  font-size: 20px;
}

.form-main-block__input::after {
  color: rgba(49, 53, 59, 0.192);
}

.form-main-block__button {
  height: 86px;
  cursor: pointer;
  background-color: #f85a47;
  width: 188px;
  flex: 0 0 188px;
  font-weight: 600;
  color: #fff;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  padding: 5px 15px;
  transition: all 0.3s ease 0s;
}
.form-main-block__button:hover {
  background-color: #b9473a;
}

.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}

/* підхід IBG коли зображення яке вставлене через тег img але буде себе поводити як беграунд крута щтука для надійності */
.slider-main-block {
}
.slider-main-block__wrapper {
}
.slider-main-block__swiper {
  position: relative;
  padding-bottom: 95%;
}
.slider-main-block__swiper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
  position: static;
  height: 20px;
  width: 11px;
  background: url(img/icons/arrow.svg) 0 0 /100% no-repeat;
}

.body-main-block__arrow::after {
  display: none;
}
.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}

/* swiper-button-prev{} */
/* swiper-button-next{} */

.partners-main-block {
  max-width: 65%; /*обмежувач на вміст контенту на стр рахує щоб не виліз задалеко */
}
.partners-main-block__label {
  font-size: 17px;
  margin-bottom: 25px;
}
.partners-main-block__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.partners-main-block__item {
}

.partners-main-block__item img {
  max-width: 100%; /* зробити їх адаптивними якщо засунуть ведику  */
}

@media (max-width: 1199.98px) {
  .main-block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .content-main-block__body {
    padding-right: 0px;
  }
  .body-main-block {
    display: block;
  }
  .form-main-block {
    margin-right: 0;
  }
  .body-main-block__content {
    margin-bottom: 40px;
  }
  .main-block__body {
    margin-bottom: 40px;
  }
  .partners-main-block {
    position: relative;
    z-index: 2;
    max-width: none;
  }
}
@media (max-width: 991.98px) {
  .main-block {
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .partners-main-block__items {
    justify-content: center;
  }
  .content-main-block__title {
    font-size: 30px;
    line-height: 120%;
  }
  .form-main-block {
    display: block;
  }
  .form-main-block__button {
    width: 100%;
  }
  .main-block {
    padding-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .form-main-block {
    background: #fff;
  }
  .form-main-block__input {
    padding: 0px 15px;
  }
}

/*=======================================*/

.page__how {
}
.how {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 991.98px) {
  .how {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .how {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.how__container {
}
.how__title {
  margin-bottom: 70px;
}

.how__items {
  display: grid;
  align-items: start;
  /* padding: 0px 35px; */
  grid-template-columns: repeat(3, minmax(auto, 260px));
  column-gap: 30px;
  row-gap: 45px;
  /* gap: 30px; */
  justify-content: space-between;
}

@media (min-width: 991px) {
  .how__items {
    padding: 0px 35px;
  }
}

.how__item {
}

.item-how {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
}

.item-how:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 41px;
  transform: translate(86.5%, 0px);
  width: 210px;
  height: 11px;
  background: url("img/how/border_1.svg") 0 0 / 100% no-repeat; /* привязуємо картинку до висоти відмінили */
}
.item-how_2:not(:last-child)::after {
  transform: translate(86.5%, 0px) rotate(-180deg);
}

.item-how_1 .item-how__icon {
  background: #9672ff;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07),
    0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
    0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185),
    0px 20px 13px rgba(150, 114, 255, 0.035),
    0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815),
    0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.item-how_2 .item-how__icon {
  background: #4ddffd;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07),
    0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
    0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185),
    0px 20px 13px rgba(77, 223, 253, 0.035),
    0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815),
    0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}
.item-how_3 .item-how__icon {
  background: #f2b8ec;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07),
    0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
    0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185),
    0px 20px 13px rgba(242, 184, 236, 0.035),
    0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815),
    0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.item-how__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.item-how__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.item-how__text {
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 1199.98px) {
  .item-how:not(:last-child)::after {
    width: 170px; /* адаптуємо по щирині стрілки */
    transform: translate(69%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(69%, 0px) rotate(-180deg);
  }
}
@media (max-width: 991.98px) {
  .item-how:not(:last-child)::after {
    width: 130px;
    transform: translate(63%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(63%, 0px) rotate(-180deg);
  }
}
@media (max-width: 767.98px) {
  .how__items {
    grid-template-columns: 1fr;
  }
  .item-how:not(:last-child)::after {
    display: none;
  }
  .item-how__icon {
    margin-bottom: 20px;
  }
  .how__title {
    margin-bottom: 30px;
  }
}

/*=======================================*/

.deals {
  padding-top: 110px;
}
.deals__container {
}
.deals__header {
  margin-bottom: 50px;
}
.deals__tabs {
}

.header-deals {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-deals__content {
  flex: 1 1 auto;
}
.header-deals__title {
}
.header-deals__title:not(:last-child) {
  margin-bottom: 15px; /* якщо не буде тайтлу то відступ пропаде. щоб він не висів в повітрі */
}
.header-deals__text {
  max-width: 470px;
  line-height: 24px;
}
.header-deals__link {
  background-color: #f85a47;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #fff;
  line-height: 23px;
  padding: 22px 33px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}
.header-deals__link:hover {
  background-color: #b9473a;
}
.tabs-deals {
}
.tabs-deals__nav {
  display: flex;
  column-gap: 50px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.tabs-deals__button {
  font-size: 19px;
  line-height: 26px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease 0s;
  background-color: transparent;
}
.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  transition: width 0.3s ease 0s;
  background-color: #f85a47;
}
.tabs-deals__button:hover {
  color: #f85a47;
}
.tabs-deals__button:hover::after {
  width: 100%;
}
.tabs-deals__button.active {
  color: #f85a47;
}
.tabs-deals__button.active::after {
  width: 100%;
}

.tabs-deals__body {
}
.tabs-deals__item {
}

.item-tabs {
}
.item-tabs__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.item-tabs__item {
  position: relative;
}
.item-tabs__options {
  position: absolute;
  z-index: 2;
  left: 14px;
  top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.item-tabs__option {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #fff;
  padding: 6px 12px;
  transition: background-color 0.3s ease 0s;
}
.item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.item-tabs__image {
  position: relative;
  display: block; /* посилання строковий тег і ми добавили блок.  бо через строковий тег пропали картинки пропали картинки */
  padding-bottom: 81%;
  border-radius: 5px;
  overflow: hidden;
}

.item-tabs__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
