* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
}
/*=======================================*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*=======================================*/
.page {
  flex: 1 1 auto;
}
/*=======================================*/

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0px 15px;
  }
}
/*=======================================*/
.header {
position: absolute;
top:0;
left: 0;
width: 100% ;
z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 15px;
  min-height: 103px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-weight: 800;
  font-size: 23px;
  color: inherit;
}
.header__menu {
}
/*=======================================*/
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 15px;
}
.menu__item {
}
.menu__link {
  font-size: 13px;
  font-weight: 700;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
    .menu__list {
      justify-content: center;
    }
    .menu__link{
        font-size: 18px;
    }
  }
/*=======================================*/

/* .page__main{} */

.main-block{

}

.main-block__container{
    padding-top: 183px;
    position: relative;
}
.main-block__container::after{
    background-color: #BDCCFF;
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 68%;
    height: 200%;

}

.body-main-block{
    display: flex;
}

.body-main-block__content{
    flex: 0 1 50%;
}

.content-main-block{}
.ontent-main-block__body{
    padding-right: 80px;
}

.content-main-block__sub-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FF9900;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content-main-block__title{
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
}
.content-main-block__text{
    font-weight: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    margin-bottom: 45px;
}
.content-main-block__form{}

.form-main-block{}
.form-main-block__button{}

.body-main-block__slider{  
    flex: 0 1 50%;
}

.partners-main-block{}
.partners-main-block__label{}
.partners-main-block__items{}
.partners-main-block__item{}






















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































