* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  --black: #000000;
  --white: #ffffff;
  --pikachu: #f3cf21;
  --col1: #005246;
  --col2: #fff0ca;
  --col3: #c4fcf0;
  --col4: #669b90;

  --serif: "Playfair Display", serif;
  --ease: cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  /* min-width: 1400px; */
}

main {
  /* max-width: 1400px;
  margin: 0 auto; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 35px;
}
@media (max-width: 2400px) {
  .wrapper {
    max-width: 1400px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: none;
  }
}

/* ================================== */

/* HEADER  */
.header {
  padding-top: 10px;
  padding-bottom: 110px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header {
    padding-bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-bottom: 40px;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 10px;
    margin: 10px;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding-bottom: 30px;
    padding-top: 0px;
  }
}

.header__nav {
  min-height: 15vh;
  display: flex;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
}
@media (max-width: 1024px) {
  .header__nav {
    min-height: 6vh;
    align-items: flex-end;
  }
}

.header__nav a {
  position: relative;
  color: var(--black);
  font-size: clamp(0.2rem, 4vw, 2rem);
  text-decoration: none;
  padding-bottom: 0.2em;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .header__right {
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
  }
}

.header__nav a span {
  display: inline-block;
  white-space: nowrap;
  transform-origin: center center;
  transform-style: preserve-3d;
}

.header__nav a::before {
  content: "";
  width: 100%;
  height: 0.075em;
  background-color: var(--pikachu);
  position: absolute;
  bottom: 0em;
  transform: scaleX(0);
  transition: all 350ms ease-out;
  transform-origin: left center;
}

.header__nav a:hover::before {
  transform: scaleX(1);
  transition-delay: 200ms;
}

.btn__cv {
  margin: 20px 0px 10px 0px;
}

.btn__cv a {
  font-size: 1.8rem;
  text-decoration: none;
  background-color: #f3cf21;
  font-size: clamp(0.5rem, 4vw, 2rem);
  border-radius: 30%;
  padding: 10px 15px;
  color: #005246;
}

.btn__cv a:hover {
  background-color: #f3d021a5;
}
@media (max-width: 767px) {
  .btn__cv {
    margin: 10px 0px 8px 0px;
  }
  .btn__cv a {
    padding: 8px 12px;
  }
}
@media (max-width: 360px) {
  .btn__cv {
    margin: 5px 0px 5px 0px;
  }
  .btn__cv a {
    padding: 5px 8px;
  }
}

.lang__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #005246;
  background-color: #ffffff;
}

.lang__items img {
  width: 40px;
  height: 40px;
  transition: transform 0.4s ease 0s;
}
@media (max-width: 360px) {
  .lang__items img {
    width: 30px;
    height: 30px;
  }
}
.lang__items img:hover {
  transform: scale(1.1);
}

.lang__items img:hover:first-child {
  transform: none;
}

/* HOME */ /* ================================== */

.home {
  padding-bottom: 110px;
}
@media (max-width: 993px) {
  .home {
    padding-bottom: 30px;
  }
}
@media (max-width: 630px) {
  .home {
    padding-bottom: 30px;
  }
}

.home__name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  flex: 1;
}

.home__name h1 {
  font-size: 2vw;
}
@media (max-width: 991.98px) {
  .home__name h1 {
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  .home__name h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 460px) {
  .home__name h1 {
    font-size: 0.8rem;
  }
}

.home__name h2 {
  font-size: 4vw;
  margin: 1rem 0;
}
@media (max-width: 991.98px) {
  .home__name h2 {
    font-size: 3.1rem;
  }
}
@media (max-width: 767.98px) {
  .home__name h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 460px) {
  .home__name h2 {
    font-size: 1.6rem;
  }
}

.home__name p {
  font-size: 2.5vw;
  margin: 1rem 0;
  line-height: 1.5;
  text-align: end;
}
@media (max-width: 991.98px) {
  .home__name p {
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  .home__name p {
    font-size: 2rem;
  }
}
@media (max-width: 460px) {
  .home__name p {
    font-size: 1rem;
  }
}

.home__foto {
  max-width: 600px;
  border-radius: 5%;
}
@media (max-width: 2000px) {
  .home__foto {
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .home__noMedia {
    display: none;
  }
  .home__media {
    display: block;
  }
  .home__name {
    flex-direction: column;
  }
  .home__text {
    display: flex;
  }
  .home__name p {
    text-align: center;
  }
}

@media (max-width: 766px) {
  .home__foto {
    height: auto;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .home__media {
    display: none;
  }
  .home__noMedia {
    display: block;
  }
}

/* About Presentation */ /* ================================== */

.about__presentation {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 767.98px) {
  .about__presentation {
    gap: 0px;
  }
}

.text-container {
  display: flex;
  gap: 50px;
}
@media (max-width: 500px) {
  .text-container {
    flex-direction: column;
    gap: 10px;
  }
}

.text-container .text-box:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
@media (max-width: 500px) {
  .text-container .text-box:nth-child(1) {
    border: 2px #f3cf21 solid;
    border-radius: 10%;
    padding: 10px;
  }
  .text-container .text-box:nth-child(2) {
    text-align: start;
  }
}

.text-box {
  font-size: 2rem;
  line-height: 1.5;
  margin: 10px;
}
@media (max-width: 991.98px) {
  .text-box {
    font-size: 1.8rem;
    margin: 10px;
  }
}
@media (max-width: 767.98px) {
  .text-box {
    font-size: 1.3rem;
  }
}
@media (max-width: 360px) {
  .text-box {
    font-size: 1.1rem;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.3s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.btn__about {
  width: clamp(5em, 10vw, 6em);
  height: clamp(5em, 10vw, 6em);
  border-radius: 50%;
  background: var(--col1);
  color: #f3cf21;
  cursor: pointer;
  font-size: 3vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
/* @media (max-width: 991.98px) {
  .btn__about {
    width: clamp(6em, 12vw, 11em);
    height: clamp(6em, 12vw, 11em);
  }
}*/
@media (max-width: 460px) {
  .btn__about {
    width: 4rem;
    height: 4rem;
  }
}

.btn__about:hover {
  background-color: #005246be;
}

/* WORKS */ /* ================================== */

.works {
  padding-top: 110px;
  padding-bottom: 110px;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 991.98px) {
  .works {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .works {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.2;
  }
}
@media (max-width: 460px) {
  .works {
    font-size: 0.9rem;
  }
}

.works h1 {
  font-size: 4rem;
  margin-bottom: 30px;
  color: var(--col1);
}
@media (max-width: 991.98px) {
  .works h1 {
    font-size: 3rem;
  }
}
@media (max-width: 767.98px) {
  .works h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
}
@media (max-width: 360px) {
  .works h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.works_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.works__cart {
  width: 500px;
  border: 3px solid var(--pikachu);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.works__cart:hover {
  transform: translateY(-5px);
}

.works__cart a {
  text-decoration: none;
  color: #333;
}

.works__img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  margin: 0px;
}

.works__header {
  display: flex;
  justify-content: space-around;
}

.works__header p:first-child {
  margin-top: 10px;
  font-weight: bold;
}

.works__header p:last-child {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
@media (max-width: 767.98px) {
  .works__header p:last-child {
    margin-bottom: 7px;
    font-size: 1rem;
  }
}
@media (max-width: 364px) {
  .works__header p:last-child {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }
}

.works__link {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.works__link a:hover .works__icon {
  background-color: #f3cf21;
  border-radius: 10px;
  cursor: pointer;
}

.contact__page a:hover .contact__hover {
  background-color: #f3cf21;
  border-radius: 10px;
  cursor: pointer;
}

.works__icon {
  width: 25px;
  height: 25px;
}
@media (max-width: 767.98px) {
  .works__icon {
    width: 20px;
    height: 20px;
  }
}
/* @media (max-width: 360px) {
  .works__icon {
    width: 15px;
    height: 15px;
  }
} */

.works__description {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--pikachu);
  padding: 20px;
  transition: opacity 0.3s;
}
@media (max-width: 767.98px) {
  .works__description {
    position: relative;
    display: block;
    padding: 15px;
  }
}
@media (max-width: 360px) {
  .works__description {
    padding: 10px;
  }
}

.works__cart:hover .works__description {
  display: block;
}

/* ABOUTE */ /* ================================== */

.about {
  padding-top: 110px;
  padding-bottom: 110px;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 991.98px) {
  .about {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.about h1 {
  text-align: end;
  font-size: 4rem;
}
.about h2 {
  font-size: 2rem;
  text-align: right;
}

.about li {
  list-style-type: none;
}

.about__skills {
  background-color: var(--col1);
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about__skills h1 {
  color: var(--pikachu);
}
.about__skills li:hover {
  color: #f3cf21;
}

.about__work {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 50%);
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: justify;
}

.about__work h1 {
  color: var(--col1);
}
.about__work h2 {
  transition: all 0.3s ease-in-out;
}
.about__work h2:hover {
  color: #f3cf21;
  cursor: pointer;
}

._anim-items li {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateX(-20px);
}

._anim-items li.show {
  opacity: 1;
  transform: translateX(0);
}

._anim-items li::before {
  content: "\2022";
  color: var(--pikachu);
  margin-right: 0.5rem;
}

.about__education {
  background-color: var(--col1);
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 30px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.about__education h1 {
  color: var(--pikachu);
}

@media (max-width: 992px) {
  .about__education {
    flex-direction: column;
  }
  .about {
    font-size: 1.5rem;
  }
  .about h1 {
    font-size: 3em;
  }
  .about h2 {
    font-size: 3rem;
  }
}
@media (max-width: 767.98px) {
  .about__education {
    flex-direction: column;
    gap: 10px;
  }
  .about {
    font-size: 1rem;
  }
  .about h1 {
    font-size: 2rem;
  }
  .about h2 {
    font-size: 1rem;
  }
  .about__work {
    gap: 10px;
  }
}
@media (max-width: 360px) {
  .about__education {
    flex-direction: column;
    gap: 5px;
  }
  .about {
    font-size: 1rem;
  }
  .about h1 {
    font-size: 2rem;
  }
  .about h2 {
    font-size: 1rem;
  }
}

/* ================================== */

/* CONTACT */
.contact__page {
  padding: 110px 20px;
}

.contact__page p {
  text-decoration: underline;
  text-decoration-color: #f3cf21;
  font-size: 3rem;
}
.contact {
  gap: 80px;
  display: flex;
  justify-content: space-around;
}

.contact a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1.5;
}

.contact__write {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__centered {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__work a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__social a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__page img {
  border-radius: 10px;
}
.contact__page a:hover .contact__hover {
  background-color: #f3cf21;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 648px) {
  .contact__write {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

@media (max-width: 992px) {
  .contact__page {
    gap: 10px;
    padding: 50px 20px;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .contact a {
    font-size: 1.5rem;
  }
  .contact__write {
    gap: 5px;
  }
  .contact p {
    font-size: 2.5rem;
  }
  .contact__work {
    gap: 5px;
  }
  .contact__work a {
    /* gap: 5px; */
  }
  .contact__social {
    gap: 5px;
  }
}

@media (max-width: 767.98px) {
  .contact a {
    font-size: 1rem;
  }
  .contact p {
    font-size: 2rem;
  }
  .contact__page img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
}
