* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  --black: #191a19;
  --white: #fafafa;
  --pikachu: #f3cf21;
  --serif: "Playfair Display", serif;
  --ease: cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  justify-content: center;
}

section {
  font-size: large;
  font-weight: bold;
}

img {
  width: 300px;
  height: 300px;
}

/* HEADER  */

.header__nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-items: center;
  padding-right: 60px;

  gap: clamp(1rem, 3vw, 2rem);

  background-image: url("./img/nav.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__nav a {
  position: relative;
  color: var(--black);
  font-size: clamp(0.5rem, 4vw, 3rem);
  text-decoration: none;
  padding-bottom: 0.2em;
  width: max-content;
  line-height: 1;
}

.header__nav a span {
  display: inline-block;
  white-space: nowrap;
  /* transition: all 350ms ease-out; */
  transform-origin: center center;
  transform-style: preserve-3d;
}

.header__nav a .primary {
  position: relative;
}

.header__nav a .secondary {
  position: absolute;
  /* transform: translateY(0.5em) rotateX(90deg); */
  left: 0;
}

.header__nav a::before {
  content: "";
  width: 100%;
  height: 0.075em;
  background-color: var(--pikachu);
  position: absolute;
  bottom: 0em;
  transform: scaleX(0);
  transition: all 350ms ease-out;
  transform-origin: left center;
}

.header__nav a:hover .primary {
  /* transform: translateY(-0.5em) rotateX(90deg); */
}

.header__nav a:hover .secondary {
  /* transform: translateY(0em); */
}

.header__nav a:hover::before {
  transform: scaleX(1);
  transition-delay: 200ms;
}

/* HOME */

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0.8rem;
}

h2 {
  font-size: 4rem;
}

P {
  font-size: 2rem;
  margin: 1rem;
}

.home__section {
  margin-top: 2rem;
  line-height: 2rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
}

/* WORKS */
.works {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0.8rem;
}

.works_projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* ABOUTE */
.about {
  height: 100vh;
}

/* CONTACT */
.contact {
  height: 100vh;
}
