* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  --black: #000000;
  --white: #ffffff;
  --pikachu: #f3cf21;
  --col1: #005246;
  --col2: #fff0ca;
  --col3: #c4fcf0;
  --col4: #669b90;

  --serif: "Playfair Display", serif;
  --ease: cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  /* background-color: var(--col2); */
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER  */
.header {
  padding-bottom: 110px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991.98px) {
  .header {
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding-bottom: 30px;
  }
}

.header__nav {
  min-height: 15vh;
  display: flex;
  align-items: center;

  gap: clamp(1rem, 3vw, 2rem);
}

.header__nav a {
  position: relative;
  color: var(--black);
  font-size: clamp(0.5rem, 4vw, 2rem);

  text-decoration: none;
  padding-bottom: 0.2em;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav a span {
  display: inline-block;
  white-space: nowrap;
  transform-origin: center center;
  transform-style: preserve-3d;
}

.header__nav a .primary {
  position: relative;
}

.header__nav a::before {
  content: "";
  width: 100%;
  height: 0.075em;
  background-color: var(--pikachu);
  position: absolute;
  bottom: 0em;
  transform: scaleX(0);
  transition: all 350ms ease-out;
  transform-origin: left center;
}

.header__nav a:hover::before {
  transform: scaleX(1);
  transition-delay: 200ms;
}

.btn__cv a {
  font-size: 1.8rem;
  text-decoration: none;
  background-color: #f3cf21;
  border: 40px;
  border-radius: 30%;
  padding: 10px 15px;
  color: #005246;
}

.leng__items a {
  text-decoration: none;
  color: #005246;
}

.leng__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* opacity: 1; */
  text-decoration: none;
}

.leng__items img {
  width: 40px;
  height: 40px;
}

/* HOME */

.home {
  padding-top: 110px;
  padding-bottom: 110px;
  /* position: relative; */
  display: flex;
  flex-direction: row;

  align-items: center;
}

@media (max-width: 991.98px) {
  .home {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .home {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.home__name {
  display: flex;
}

.home__name h1 {
  font-size: 2rem;
}

.home__name h2 {
  font-size: 6rem;
  margin: 5rem 0;
}

.home__name p {
  font-size: 3rem;
  margin: 7rem 0 0;
  line-height: 1.5;
  text-align: end;
}

.home__section {
  margin-top: 2rem;
  line-height: 2rem;
}

.home__img {
  height: 800px;
  bottom: 0;
}

.test {
  /* width: 1000px;
  height: 1000px;

  position: absolute;
  left: 0px;
  padding-bottom: 110px;
  bottom: 0px;

  clip-path: ellipse(1000px 1000px at 0% 100%);
 */
  /* background: linear-gradient(
  33deg,
    rgba(243, 208, 33, 0.925),
    rgba(255, 0, 0, 0) 70%
  ); */

  /* transform: translateY(0);
  transition: transform 0.3s ease-out;
  transform-origin: bottom center; * */
transform: translateY(0);
  width: 1500px;
  height: 800px;
  border-radius: 1000px 1000px 0 0;
  background: linear-gradient(
    0deg,
    rgba(243, 208, 33, 0.925),
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  /* top: 50%; */
  left: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-out;
}

/* About Presentation */

.about__presentation {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text-container {
  display: flex;
  gap: 50px;
}
.text-container .text-box:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.text-box {
  font-size: 2rem;
  line-height: 1.5;
  /* text-transform: uppercase; */
  margin: 10px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.btn__about {
  width: clamp(9em, 12vw, 11em);
  height: clamp(9em, 12vw, 11em);
  border-radius: 50%;
  border: 0;
  background: var(--col1);
  color: #f3cf21;
  cursor: pointer;
  font-size: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  text-decoration: none;
}

/* WORKS */
.works {
  padding-top: 110px;
  padding-bottom: 110px;
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  .works {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .works {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.works {
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0.8rem;
}

.works_projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

/* ABOUTE */
.about {
  padding-top: 110px;
  padding-bottom: 110px;
  /* height: 100vh; */
  font-size: 2rem;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .works {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .works {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* CONTACT */

.contact {
  padding-top: 110px;
  padding-bottom: 110px;
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  .contact {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.contact__social {
  display: flex;
  flex-direction: column;
}
