* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--Color-body);
  min-height: 100vh;
}

:root {
  /* Color */
  --Color-body: #f1f5f8;
  --Color-nav: #2680c0;
  --Color-: #003e6b;
  --Color-: #85c6f4;
  --Color-: #102a42;
  --Color-: #617d98;
  --Color-: #f1f5f8;
  --Color-btn: #bb2525;
  --Color-btn-hover: #e66b6b;
}

.App {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  width: 100%;
  /* max-width: 500px; */
  /* border: 1px solid mediumblue; */
  /* margin: auto; */
}

.Nav {
  background-color: var(--Color-nav);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  /* column-gap: normal; */
}

footer {
  width: 100%;
  padding: 0.25em;
  display: grid;
  place-content: center;
}

.basket__svg {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__cart {
  color: var(--Color-btn);
}

.btn__cart:hover {
  background-color: var(--Color-btn-hover);

  cursor: pointer;
}

.product {
  display: grid;
  grid-template-columns: max-content;
}

.product__img {
}

.products__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  gap: 4rem;
  
}

.CartProduct{
   display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  gap: 4rem;
}