* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--Color-body);
  min-height: 100vh;
}

:root {
  /* Color */
  --Color-body: #f1f5f8;
  --Color-nav: #2680c0;
  --Color-: #003e6b;
  --Color-: #85c6f4;
  --Color-: #102a42;
  --Color-: #617d98;
  --Color-: #f1f5f8;
  --Color-btn: #bb2525;
  --Color-btn-hover: #e66b6b;
}

.App {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  width: 100%;
  /* max-width: 500px; */
  /* border: 1px solid mediumblue; */
  /* margin: auto; */
}

.Nav {
  background-color: var(--Color-nav);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  /* column-gap: normal; */
}

footer {
  width: 100%;
  padding: 0.25em;
  display: grid;
  place-content: center;
}

/* .basket__svg {
  /* height: 100%; */
/* display: flex;
  justify-content: center;
  align-items: center; */

.product {
  display: grid;
  grid-template-columns: max-content;
}

.product__img {
}

.products__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  gap: 4rem;
}

/* Cart Product */

.сart__product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: stretch; */
  gap: 4rem;
  width: 800px;
  border: 1px solid;

  align-items: center;
  margin-bottom: 20px;

  padding: 10px;
}

.product__details {
  display: flex;
  flex-direction: column;
}

.cart__product img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.сart__product__title {
  font-size: 18px;
  font-weight: bold;
}

.сart__product__amount {
  /* font-size: 16px; */
}

.сart__product__price {
  font-size: 20px;
}

.сart__product__btn__delete {
  padding: 10px;
  border: none;
  border-radius: 18px;
  background-color: #eb817a;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* Cart Page */

.cart__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  margin: 15px;
}

.cart__header h2 {
  font-size: 2rem;
}

.cart__clear__btn {
  background-color: #f44336;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;

  margin: 15px;
}

.cart__clear-btn:hover {
  background-color: #d32f2f;
}

.cart__empty__message {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.cart__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
