* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--Color-body);
  min-height: 100vh;
}

:root {
  /* Color */
  --Color-body: #f1f5f8;
  --Color-nav: #0365ac;
  --Color-: #003e6b;
  --Color-: #85c6f4;
  --Color-: #102a42;
  --Color-: #617d98;
  --Color-: #f1f5f8;
  --Color-btn: #bb2525;
  --Color-btn-hover: #e66b6b;
}

.App {
  position: relative;
}

/* footer {
  width: 100%;
  padding: 0.25em;
  display: grid;
  place-content: center;
} */

/* Product */

.product {
  display: grid;
  grid-template-columns: max-content;
}

.product__img {
}

/* Product Page*/

.products__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  gap: 4rem;
}

/* Cart Product */

.сart__product {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: stretch; */
  gap: 1rem;
  width: 800px;
  border: 1px solid;

  align-items: center;
  margin-bottom: 20px;

  padding: 10px;
}

.сart__product__details {
  display: flex;
  flex-direction: column;
  width: 130px;
}

.cart__product__counter {
  border: solid 1px #003e6b69;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
}

.btnCounter {
  border: none;
  font-size: 22px;
  background-color: var(--Color-body);
}

.сart__product__amount {
  /* font-size: 16px; */
}

.cart__product img {
  max-width: 100%;

}

.сart__product__title {
  font-size: 18px;
  font-weight: bold;
}

.сart__product__priceTotal {
  font-size: 20px;
}
.сart__product__price {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.466);
}

.сart__product__btn__delete {
  padding: 10px;
  border: none;
  border-radius: 18px;
  background-color: #eb817a;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* Cart Page */

.cart__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 15px;
}

.cart__header h2 {
  font-size: 2rem;
}

.cart__clear__btn {
  background-color: #f44336;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;

  margin: 15px;
}

.cart__clear-btn:hover {
  background-color: #d32f2f;
}

.cart__empty__message {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.cart__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

/* Nav */

.nav {
  background-color: var(--Color-nav);

  height: 14vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: sticky; */
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav__title {
  text-shadow: 3px -5px 10px rgba(255, 255, 255, 0.534);
  font-size: 35px;
  letter-spacing: 4px;
}

.nav__title:hover {
  cursor: pointer;
}

.nav__title:hover::before {
  /* transform: translate(-20px, 12px); */
}

.nav__product {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__cart {
  position: relative;
}

.nav__cart__svg {
}

.nav__counter {
  color: white;
  font-weight: bolder;
  position: absolute;
  top: -9px;
  right: -9px;
}
